<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Propietarios</title>

</head>

<body>
    <div class="table-container">
        <h2>Lista de Propietarios</h2>
        <table>
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Nombre de Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let propietario of propietarios">
                    <td>{{ propietario.documento }}</td>
                    <td>{{ propietario.nombre }}</td>
                    <td>{{ propietario.direccion }}</td>
                    <td>{{ propietario.telefono }}</td>
                    <td>{{ propietario.nombreUsuario }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>